In [1]:
# -*- coding: utf-8 -*-
'''
TopQuant-简称TQ极宽智能量化回溯分析系统，培训课件-配套教学python课件程序

Top极宽量化(原zw量化)，Python量化第一品牌 
by Top极宽·量化开源团队 2017.10.1 首发

网站： www.TopQuant.vip      www.ziwang.com
QQ群: Top极宽量化1群，124134140
      Top极宽量化2群，650924099
      Top极宽量化3群，450853713
  
'''

import os
import numpy as np
import pandas as pd
import tushare as ts

#  TopQuant
import zsys 
import ztools as zt
import ztools_datadown as zddown
import ztools_draw as zdr

#----------

#1 设置数据目录
#rss=zsys.rdatCN
rss='tmp/'
print('rss:',rss)



#2 设置股票代码，下载数据
code='603315'
# 之前 before
# df,fss=zddown.down_stk010(rss,code,'D')

# after
df=zddown.down_stk010(rss,code,'D')
df=df.sort_values(['date'],ascending=True);

# before
# print('\nfss,',fss)
print('\ndf')
print(df.tail())

#3 绘制K线图
print('\ndf2x.tail()')
df.index=df['date']
df2=df.tail(60)
hdr,fpic='k线图·日线数据-'+code,'tmp/tmp_.html'
print('\nfpic,',fpic)
print('\ndf2')
print(df2.tail())
zdr.drDF_cdl(df2,ftg=fpic,m_title=hdr)

rss: tmp/
	 False tmp/603315.csv , 1994-01-01
本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

df
            date   open   high    low  close   volume
1250  2020-10-13  11.98  12.27  11.92  12.18  20121.0
1251  2020-10-14  12.18  12.26  12.08  12.09  12484.0
1252  2020-10-15  12.15  12.21  12.04  12.15  10567.0
1253  2020-10-16  12.20  12.20  12.04  12.06   6413.0
1254  2020-10-19  12.06  12.15  11.94  12.03   9492.0

df2x.tail()

fpic, tmp/tmp_.html

df2
                  date   open   high    low  close   volume
date
2020-10-13  2020-10-13  11.98  12.27  11.92  12.18  20121.0
2020-10-14  2020-10-14  12.18  12.26  12.08  12.09  12484.0
2020-10-15  2020-10-15  12.15  12.21  12.04  12.15  10567.0
2020-10-16  2020-10-16  12.20  12.20  12.04  12.06   6413.0
2020-10-19  2020-10-19  12.06  12.15  11.94  12.03   9492.0

In [9]:
print(len(df))
df.head()

1255

                  date    open    high     low   close  volume
date
2015-04-24  2015-04-24   7.683   7.683   7.683   7.683   305.0
2015-04-27  2015-04-27   8.451   8.451   8.451   8.451    91.0
2015-04-28  2015-04-28   9.298   9.298   9.298   9.298   103.0
2015-04-29  2015-04-29  10.229  10.229  10.229  10.229   126.0
2015-04-30  2015-04-30  11.255  11.255  11.255  11.255   369.0

In [7]:
df.tail()

                  date   open   high    low  close   volume
date
2020-10-13  2020-10-13  11.98  12.27  11.92  12.18  20121.0
2020-10-14  2020-10-14  12.18  12.26  12.08  12.09  12484.0
2020-10-15  2020-10-15  12.15  12.21  12.04  12.15  10567.0
2020-10-16  2020-10-16  12.20  12.20  12.04  12.06   6413.0
2020-10-19  2020-10-19  12.06  12.15  11.94  12.03   9492.0